/* for x-small devices */
@media (min-width: 320px) and (max-width: 575.98px) {

  nav {
    top: 5px;
  }

  .navbar form .btn {
    padding: 6px 33px;
    font-size: 17px;
    margin-bottom: 5px;
    background: #EED38E;
    color: black;
    border-radius: 0;
  }


  nav .navbar-nav .nav-item .active {
    margin-left: 7px;

  }

  .navbar-collapse {
    background: #ACD61C;
    border-radius: 30px;
    box-shadow: 3px 2px 6px 10px #ADA49B;
  }


  .navbar .navbar-toggler {
    box-shadow: none;
    border: 0;
    color: white;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar form {
    justify-content: center;
  }




  /* banner part responsive start here */
  #banner_part .container h1 {
    font-size: 22px;
    width: auto;

  }

  #banner_part .container p {
    font-size: 13px;
    width: auto;
    line-height: 21px;
    margin: 27px 0;
  }


  #banner_part .container .btn {
    padding: 9px 19px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 0;
  }


  #banner_part .slide,
  #banner_part .banner_slide .slide2,
  #banner_part .banner_slide .slide3,
  #banner_part .banner_slide .slide4 {
    padding: 250px 0;
  }

  .banner_slide ul {
    bottom: 32px;
  }

  .banner_slide ul li button {
    width: 20px;
    height: 20px;
  }

  .banner_slide ul .slick-active button {
    border: 2px solid rgb(250, 249, 249);
  }




  /* banner part responsive end here */




  /* success part responsive start here */
  #success_part {
    padding-top: 50px;
  }

  #success_part .text {
    padding-left: 0;
  }

  #success_part .text p {
    font-size: 18px;
  }

  #success_part .text h3 {
    font-size: 16px;
  }


  #success_part .number {
    display: flex;
    row-gap: 52px;
    flex-direction: column;
    margin-top: 39px;
    padding-left: 0;

  }


  #success_part .number h2 {
    font-size: 33px;
  }

  #success_part .number p {
    font-size: 12px;
  }

  /* success part responsive end here */




  /* service part responsive start here */
  #service_part {
    padding-top: 64px;
  }

  #service_part .title h2 {
    font-size: 24px;
  }

  #service_part .title p {
    width: auto;
    font-size: 13px;
  }

  #service_part .main {
    padding: 60px 19px 20px;
  }

  #service_part .main p {
    font-size: 11px;
  }

  /* service part responsive end here */




  /* work part responsive start here */
  #work_part {
    padding: 79px 0;
  }

  #work_part .title h2 {
    font-size: 32px;
  }

  #work_part .title p {
    width: auto;
    font-size: 13px;
  }

  /* work part responsive end here */




  /* agency part responsive start here */

  #agenc_part {
    padding: 92px 0 115px;
  }

  #agenc_part .title {
    margin-bottom: 82px;
  }

  #agenc_part .title h2 {
    width: auto;
    font-size: 29px;
  }

  #agenc_part .title p {
    width: auto;
    font-size: 13px;
  }


  #agenc_part .main {
    text-align: center;
  }

  #agenc_part .main p {
    width: auto;
    font-size: 13px;
  }

  #agenc_part .row .col-lg-8 {
    order: 2;
  }

  #agenc_part .row .col-lg-4 {
    order: 1;
  }

  /* agency part responsive end here */



  /* client review part responsive start here */
  #clientReview_part {
    padding-bottom: 90px;
  }

  #clientReview_part .title p {
    width: auto;
    font-size: 13px;
    padding-bottom: 41px;
  }


  #clientReview_part .title h2 {
    font-size: 28px;
  }

  #clientReview_part .slide {
    padding: 27px 40px;

  }

  #clientReview_part .slide .slide_para {
    font-size: 11px;
  }

  #clientReview_part .slide .icon i {
    font-size: 11px;
  }

  #clientReview_part .slide .client .text h5 {
    font-size: 14px;
  }

  #clientReview_part .slide .client .text .client_profession {
    font-size: 11px;
  }

  /* client review part responsive end here */





  /* form part responsive start here */
  #form_part {
    padding: 57px 0;
  }

  #form_part .text h3 {
    font-size: 23px;
    width: auto;

  }

  #form_part .text .paragraph_one {
    width: auto;
    font-size: 12px;
  }

  #form_part .text .paragraph_two {
    width: auto;
    font-size: 12px;
  }


  #form_part .form form {
    width: auto;
    padding: 44px 34px;
    margin-top: 50px;
  }


  #form_part .form form h4 {
    font-size: 19px;
  }

  #form_part .form form label {
    font-size: 14px;
  }

  #form_part .form form input {
    font-size: 14px;
    padding: 9px 13px;

  }

  #form_part .form form button {
    padding: 12px 0;
    font-size: 16px;
  }

  /* form part responsive end here */



  /* footer part responsive start here */
  footer {
    padding-top: 52px;
  }

  footer .footerMenu {
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  footer .footerMenu ul h4 {
    margin-bottom: 10px;
    margin-top: 45px;
  }

  footer p {
    font-size: 13px;
    width: auto;
    text-align: justify;
    margin: 40px auto 14px;
  }

  /* footer part responsive end here */


}




/* for small devices */
@media (min-width: 576px) and (max-width: 767.98px) {

  nav {
    top: 5px;
  }

  .navbar form .btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #FFF;
    background: #6A4DF4;
  }

  nav .navbar-nav .nav-item .active {
    margin-left: 7px;

  }

  .navbar button {
    background: rgba(255, 255, 255, 0.5);

  }



  /* banner part responsive start here */
  #banner_part .container h1 {
    font-size: 35px;
    width: auto;
  }

  #banner_part .container p {
    font-size: 13px;
    width: auto;
  }

  /* banner part responsive end here */



  /* success part responsive start here */
  #success_part {
    padding-top: 54px;
  }

  #success_part .container {
    padding: 54px 38px;
  }

  #success_part .text {
    padding-left: 0;
  }

  #success_part .text h3 {
    font-size: 38px;
  }

  #success_part .text p {
    font-size: 22px;
  }


  #success_part .number p {
    font-size: 12px;
  }

  #success_part .number {
    display: flex;
    row-gap: 80px;
    flex-direction: column;
    margin-top: 80px;
    padding-left: 0;

  }

  #success_part .number h2 {
    font-size: 39px;
  }

  /* success part responsive end here */



  /* service part responsive start here */
  #service_part {
    padding: 57px 0;
  }

  #service_part .title h2 {
    font-size: 28px;
  }

  #service_part .title p {
    width: auto;
    font-size: 14px;
  }

  #service_part .main {
    padding: 36px 20px 6px;
  }

  #service_part .main p {
    font-size: 11px;
  }

  /* service part responsive start end */



  /* work part responsive start here */
  #work_part {
    padding: 57px 0;
  }

  #work_part .title h2 {
    font-size: 37px;
  }

  #work_part .title p {
    width: auto;
    font-size: 13px;
  }

  /* work part responsive start here */




  /* agency part responsive start here */
  #agenc_part {
    padding: 65px 0 85px;
  }

  #agenc_part .title {
    margin-bottom: 73px;
  }

  #agenc_part .title h2 {
    width: auto;
    font-size: 48px;
  }

  #agenc_part .title p {
    width: auto;
    font-size: 13px;
  }

  #agenc_part .main {
    text-align: center;
  }

  #agenc_part .main p {
    width: auto;
    font-size: 13px;
  }

  /* agency part responsive end here */



  /* client review part responsive start here */
  #clientReview_part {
    padding-bottom: 78px;
  }

  #clientReview_part .title h2 {
    font-size: 28px;
  }

  #clientReview_part .title p {
    width: auto;
    font-size: 13px;
    padding-bottom: 48px;
  }

  /* client review part responsive end here */




  /* form part responsive start here */
  #form_part {
    padding: 42px 0;
  }

  #form_part .text h3 {
    font-size: 31px;
    width: auto;
  }

  #form_part .text .paragraph_one {
    width: auto;
    font-size: 13px;
  }

  #form_part .text .paragraph_two {
    width: auto;
    font-size: 13px;
  }


  #form_part .form form {
    width: auto;
    padding: 47px 57px;
    margin-top: 50px;
  }

  #form_part .form form h4 {
    font-size: 26px;
  }


  #form_part .form form input {
    font-size: 16px;
    padding: 9px 13px;
  }

  /* form part responsive end here */



  /* footer part responsive start here */
  footer {
    padding-top: 63px;
  }

  footer p {
    font-size: 13px;
    width: auto;
    margin: 26px auto 4px;
  }

  footer .footerMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
  }

  footer .footerMenu ul h4 {
    margin: 45px 0 10px;
  }



  footer .footerMenu ul li a {
    line-height: 26px;
  }

  /* footer part responsive end here  */


}




/* for medium devices*/
@media (min-width: 768px) and (max-width: 991.98px) {
  nav {
    top: 5px;
  }


  .navbar form .btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #FFF;
    background: #6A4DF4;
  }

  nav .navbar-nav .nav-item .active {
    margin-left: 7px;

  }

  .navbar button {
    background: rgba(255, 255, 255, 0.5);

  }



  /* banner part responsive start here */
  #banner_part .container h1 {
    font-size: 44px;
    width: auto;
  }

  #banner_part .container p {
    font-size: 13px;
    width: auto;
  }

  /* banner part responsive end here */



  /* success part responsive start here */
  #success_part {
    padding-top: 47px;
  }

  #success_part .container {
    padding: 50px 38px;
  }


  #success_part .text {
    padding-left: 0;
  }

  #success_part .text p {
    font-size: 22px;
  }

  #success_part .text h3 {
    font-size: 34px;
  }

  #success_part .number p {
    font-size: 12px;
  }

  #success_part .number {
    display: flex;
    column-gap: 110px;
    padding: 70px 0;
  }

  #success_part .number h2 {
    font-size: 39px;
  }

  /* success part responsive end here */



  /* service part responsive start here */
  #service_part {
    padding: 64px 0 100px;
  }

  #service_part .title h2 {
    font-size: 28px;
  }

  #service_part .title p {
    width: auto;
    font-size: 13px;
  }

  #service_part .main {
    padding: 60px 19px 20px;
  }

  #service_part .main p {
    font-size: 11px;
  }

  /* service part responsive start end */



  /* work part responsive start here */
  #work_part {
    padding: 57px 0;
  }

  #work_part .title h2 {
    font-size: 37px;
  }

  #work_part .title p {
    width: auto;
    font-size: 13px;
  }

  #work_part .text {
    padding: 30px 39px;
  }

  /* work part responsive start here */




  /* agency part responsive start here */
  #agenc_part {
    padding: 66px 0 92px;
  }

  #agenc_part .title {
    margin-bottom: 69px;
  }

  #agenc_part .title h2 {
    width: auto;
    font-size: 31px;
  }

  #agenc_part .title p {
    width: auto;
    font-size: 13px;
  }

  #agenc_part .main {
    text-align: center;
  }

  #agenc_part .main p {
    width: auto;
    font-size: 13px;
  }

  /* agency part responsive end here */



  /* client review part responsive start here */
  #clientReview_part {
    padding-bottom: 90px;
  }

  #clientReview_part .title p {
    width: auto;
    font-size: 13px;
  }

  #clientReview_part .title h2 {
    font-size: 28px;
  }

  /* client review part responsive end here */




  /* form part responsive start here */
  #form_part {
    padding: 52px 0;
  }

  #form_part .text h3 {
    font-size: 25px;
    width: auto;
  }

  #form_part .text .paragraph_one {
    width: auto;
    font-size: 13px;
  }

  #form_part .text .paragraph_two {
    width: auto;
    font-size: 13px;
  }



  #form_part .form form {
    width: auto;
    padding: 78px 79px;
    margin-top: 82px;
  }


  #form_part .form form h4 {
    font-size: 26px;
  }


  #form_part .form form input {
    font-size: 16px;
    padding: 9px 13px;
  }

  /* form part responsive end here */



  /* footer part responsive start here */
  footer .footerMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
  }

  footer .footerMenu ul h4 {
    margin: 45px 0 10px;
  }

  footer p {
    font-size: 13px;
    width: auto;
    margin: 40px auto 14px;
  }

  footer .footerMenu ul li a {
    line-height: 26px;
  }


  footer .footerMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0;
  }

  footer .footerMenu .about {
    width: 40%;

  }

  footer .footerMenu .company {
    width: 40%;
  }


  footer .footerMenu .support {
    width: 40%;
  }

  footer .footerMenu .address {
    width: 40%;
  }


  /* footer part responsive end here */

}





/* for large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .navbar form .btn {
    font-size: 15px;
    padding: 8px 30px;
  }

  /* banner part responsive start here */
  #banner_part .container p {
    font-size: 20px;
    width: auto;
  }

  #banner_part .container h1 {

    font-size: 75px;
    width: auto;
  }

  /* banner part responsive end here */





  /* success part responsive start here */

  #success_part .text h3 {
    font-size: 23px;
  }

  #success_part .number p {
    font-size: 10px;
  }

  #success_part .number h2 {
    font-size: 34px;
  }

  /* success part responsive end here */



  /* service part responsive start here */
  #service_part {
    padding-bottom: 100px;
  }

  #service_part .title h2 {
    font-size: 37px;
  }

  #service_part .title p {
    width: auto;
    font-size: 14px;
  }

  #service_part .main {
    padding: 60px 19px 20px;
  }

  #service_part .main p {
    font-size: 11px;
  }

  /* service part responsive start end */



  /* work part responsive start here */
  #work_part {
    padding: 150px 0 100px;
  }

  #work_part .title h2 {
    font-size: 37px;
  }

  #work_part .title p {
    width: auto;
    font-size: 14px;
  }

  #work_part .text {
    padding: 33px 29px;
  }


  #work_part .text p {
    font-size: 11px;
    line-height: 21px;
  }

  #work_part .text h3 {
    font-size: 16px;
  }

  /* work part responsive start here */




  /* agency part responsive start here */

  #agenc_part .title h2 {
    width: auto;
    font-size: 37px;
  }

  #agenc_part .title p {
    width: auto;

  }

  #agenc_part .main p {
    width: auto;
    font-size: 14px;
  }

  #agenc_part .row {
    row-gap: 40px;
  }

  /* agency part responsive end here */



  /* client review part responsive start here */
  #clientReview_part .title h2 {
    font-size: 37px;
  }

  #clientReview_part .title p {
    width: auto;
    font-size: 14px;
  }

  /* client review part responsive end here */




  /* form part responsive start here */
  #form_part .text h3 {
    font-size: 25px;
    width: auto;
  }

  #form_part .text .paragraph_one {
    width: auto;
    font-size: 14px;
  }

  #form_part .text .paragraph_two {
    width: auto;
    font-size: 14px;
  }

  #form_part .form form {
    width: auto;
    padding: 49px 37px;
  }

  /* form part responsive end here */




  /* footer part responsive start here */
  footer .footerMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0;
    justify-content: center;
    align-items: center;

  }

  footer .footerMenu ul h4 {
    margin-bottom: 10px;

  }

  footer p {
    font-size: 14px;
    width: auto;
    text-align: justify;
  }

  footer .footerMenu ul li a {
    line-height: 26px;
  }

  footer .footerMenu ul {
    margin-bottom: 50px;
  }


  footer .footerMenu .about {
    width: 40%;

  }

  footer .footerMenu .company {
    width: 40%;
  }


  footer .footerMenu .support {
    width: 40%;
  }

  footer .footerMenu .address {
    width: 40%;
  }

  /* footer part responsive end here */



}